.pokemon-info{
    display: flex;
    flex-direction: row;
}

ion-card-content{
    display: flex;
    flex-direction: row;    
}

ion-list{
    width: 50%;
}

.overflow-scroll{
    max-height: 11.5em; 
    overflow-y: auto;
}
